<div style="background-color: lightgreen; padding: 18px;">
    <h1> Projeto| Estatística I
</div>

### Esse projeto visa a aplicação dos conceitos e ferramental da Estatística desenvolvidos nesse módulo

##### Para o desenvolvimento das atividades abaixo, o seu grupo pode escolher qualquer dataset que contenha uma coluna com valores inteiros.

In [10]:
import pandas as pd

dataset = pd.read_csv(r"brazilian_age_database\brasil_carbon_data.csv", delimiter=";")

(dataset.head(10))

,Site,Sample,C14 age,error,State,Cal age,error.1,County / region,UTM Zone,East,North
0,RS-A-27,Beta 144246,30,50,RS,59,84,Vacaria,22J,506338,6846729
1,RS-A-27,Beta 144243,40,60,RS,98,114,Vacaria,22J,506338,6846729
2,Veneza,Beta-260341,60,40,RO,100,115,Porto Velho,20L,400484,9031681
3,RS-S-337,Beta 165622,60,50,RS,105,113,Santo Antonio da Patrulha,22J,545747,6699710
4,RS-AN-3,Beta 166586,80,50,RS,120,107,Bom Jesus,22J,555456,6828282
5,PR-FO-6,SI-5041,85,60,PR,122,108,Guaíra,22J,778801,7333593
6,PR-FI-104,SI-5030,85,75,PR,124,110,Foz do Iguaçu,21J,744414,7175482
7,GO-JU-41,NaN,100,50,GO,129,106,Serranópolis,22K,398462,7975631
8,MT-PO-03,?,100,50,MT (Pantanal),130,102,Poconé,21K,539974,8201533
9,MT-RN-36,?,100,50,MT,130,102,Poxoréu,21L,779554,8247227

In [14]:
(dataset.describe())

            C14 age       Cal age      error.1           East         North
count   4026.000000   4026.000000  4026.000000    4026.000000  4.026000e+03
mean    3960.629409   4387.267511   122.649528  575935.363140  8.153728e+06
std     4068.011476   4695.120575   204.524293  181635.126468  3.267596e+06
min       30.000000     59.000000     9.000000  182663.000000  1.107100e+04
25%     1036.250000    942.250000    58.000000  427308.000000  7.180186e+06
50%     2852.500000   2999.500000    85.000000  617072.000000  7.836861e+06
75%     5750.000000   6551.500000   131.000000  736834.000000  9.002823e+06
max    53120.000000  55848.000000  6083.000000  828992.000000  7.334584e+07

__1) Em algum dataset, classifique as suas colunas em Quantitativa Discreta, Quantitiva Contínua, Qualitativa Ordinal ou Qualitativa Nominal.__

In [9]:
(dataset.columns)

Index(['Site', 'Sample', ' C14 age', 'error', 'State', 'Cal age', 'error.1',
       'County / region', 'UTM Zone', 'East', 'North'],
      dtype='object')

| Coluna | Classificação |
|:------:|:-------------:|
| Site | Não se aplica |
| Sample | Não se aplica |
| C14 age | **Quantitativa Contínua** |
| error | **Quantitativa Discreta** |
| State | **Qualitativa Nominal** |
| Cal age | **Quantitativa Contínua** |
| error.1 | **Quantitativa Discreta** |
| County / region | Não se aplica |
| UTM Zone | Não se aplica |
| East | Não se aplica |
| North | Não se aplica |

__2) Com o mesmo dataset, construir a distribuição de probabilidade de uma feature com valores inteiros. Escrever uma função para calcular a Esperança e outra função para calcular a Variância dessa variável aleatória. Compare o resultado de sua função com os resultados de alguma nativa do Python (há muitos módulos/bibliotecas que calculam esses parâmetros). Construa uma função que faça o papel da cdf() e outra função com o papel da sf(). Desafio extra: construir funções que fazem o papel da ppf() e da isf() .__'.f'.

 __3) Utilizando a variável aleatória do exercício anterior, construir a distribuição das médias amostrais para ilustrar/comprovar o Teorema do Limite Central. Comparar a média e a variância com o exercício anterior. Utilizar o teste de normalidade para verificar se essa distribuição (das médias amostrais) é normal ou  não.__

__4) No exercício anterior, construir o intervalo de confiança para a média, com nível de confiança de 95% e erro percentual de 2% (para cima ou para baixo).__

__5) Se uma amostra de tamanho 30, vinda da variável aleatória do exercício 2), tiver uma média 10% maior que a média da população, a hipótese de que essas médias são iguais seria rejeitada ou não rejeitada, com um nível de confiança de 95%? (faça o teste de hipótese para responder essa pergunta).__